{% extends 'base.html' %}
{% load static %}

{% block title %} Contato {% endblock %}

{% block content %}
     <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2>Sobre Vivarea</h2>
                           <ul>
                               <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                               <li><i class="fas fa-angle-double-right"></i> Sobre nós</li>
                           </ul>
                       </div>
                   </div>
               </div>
       
         <!-- ######## Page  Title End ####### -->

         {% if message_name %}

            <center>
                <h2>Obrigado {{ message_name }}!</h2>
                <p>Nós recebemos o seu email e será respondido em breve...</p>
            </center>
            <br><br/><br>
        {% else %}
        <div style="margin-top:0px;" class="row no-margin">

            <iframe style="width:100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61488.20247615396!2d-56.16998434066774!3d-15.590972724783528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x939db12ff314d727%3A0xb8e187289378a45c!2sVivarea%20-%20Coworking%20de%20Cuidados%20e%20Sa%C3%BAde!5e0!3m2!1spt-BR!2sbr!4v1672890758739!5m2!1spt-BR!2sbr" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


        </div>

        <div class="row contact-rooo no-margin">
            <div class="container">
            <div class="row">
                
            
                <div style="padding:20px" class="col-sm-6">
                <h2 style="font-size:18px">Formulário de Contato</h2>
                    <form action="{% url 'contact' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div style="padding-top:10px;" class="col-sm-3"><label>Nome :</label></div>
                            <div class="col-sm-8"><input type="text" placeholder="Nome" name="message-name" class="form-control input-sm"  ></div>
                        </div>
                        <div style="margin-top:10px;" class="row">
                            <div style="padding-top:10px;" class="col-sm-3"><label>Email :</label></div>
                            <div class="col-sm-8"><input type="text" name="message-email" placeholder="Email" class="form-control input-sm"  ></div>
                        </div>
                        <div style="margin-top:10px;" class="row">
                            <div style="padding-top:10px;" class="col-sm-3"><label>Mensagem:</label></div>
                            <div class="col-sm-8">
                            <textarea rows="5" placeholder="Mensagem" class="form-control input-sm" name="message"></textarea>
                            </div>
                        </div>
                        <div style="margin-top:10px;" class="row">
                            <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
                            <div class="col-sm-8">
                            <button class="btn btn-success btn-sm">Enviar Mensagem</button>
                            </div>
                        </div>
                    </form>
                </div>
            
                <div class="col-sm-6">
                        
                    <div style="margin:50px" class="serv"> 
                    
                
                
                                
                
            <h2 style="margin-top:10px;">Endereço</h2>

            Vivarea - Coworking de Cuidados e Saúde <br>
            R. Pres. Castelo Branco, 723 - Quilombo<br>
            Cuiabá - MT<br>
            Telefone: +65 981321864<br>
            Email: mahpsico1@gmail.com<br>

    
        
                
                    
                    
                
            </div>    
                    
                
            </div>

                </div>
            </div>
            
        </div>
      
    {% endif %}
{% endblock %}