{% extends 'base.html' %}
{% load static %}

{% block title %} Página Principal {% endblock %}

{% block content %}
    <!-- ################# Slider Starts Here#######################--->
     <div class="slider">
        <!-- Set up your HTML -->
        <div class="owl-carousel ">
            <div class="slider-img">
                <div class="item">
                    <div class="slider-img"><img src="{% static 'website/images/slider/slider-1.jpg' %}" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="slider-captions">
                                    <h1 class="slider-title">Sentindo-se estressado ou ansioso?</h1>
                                    <p class="slider-text hidden-xs">Podemos ajudá-lo a superar uma ampla gama de problemas psicológicos e emocionais.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="{% static 'website/images/slider/slider-2.jpg' %}" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">É hora de uma melhor ajuda.</h1>
                                <p class="slider-text hidden-xs">Podemos ajudá-lo a superar uma ampla gama de problemas psicológicos e emocionais.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}